:root {
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 500;

}

body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 100vh; 
}

ul.ant-dropdown-menu.ant-dropdown-menu-root {
  min-width: 120px;
}

#pro-layout::-webkit-scrollbar-track
{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

#pro-layout::-webkit-scrollbar
{
	width: 6px;
	background-color: #f1f1f1;
}

#pro-layout::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #888;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.layout-prefix-layout-bg-list {
  background-color: transparent !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
	color: black !important;
	background-color: #06327d17;
}

.ant-modal .ant-modal-header {
	margin-bottom: 16px;
}